<aside class="sidebar" id="sidebar">
    <div class="profile-photo-container">
        <% if(!user.photo){
            if(user.role === 'farmer'){
                photo = "/img/default-farmer.png";
            } else {
                photo = "/img/default-customer.png";
            }
        } else {
            photo = "/uploads/"+user.photo;
        } %>
        <img 
            src="<%= photo %>"
            alt="Profile Photo" 
            class="profile-photo"
            onclick="getPhotoOption('none','block')"
        >
        <% if(!(board === 'home')){ %>
        <h3><%= user.name %></h3> <!-- Display the user's name -->
        <% } %>
    </div>
    <h2>Smart Agri Connectors</h2>
    <ul id="profile-options">
        <% if (!(board === 'home')){ %>
            <li><a href="/dashboard/home">Home</a></li>
        <% } %>
        <% if (!(board === 'profile')) { %>
            <li><a href="/dashboard/profile">Profile</a></li>
        <% } %>
        <% if (user.role === 'farmer') { %>
            <li><a href="#">Sell Product</a></li>
            <li><a href="#">Give Rent</a></li>
            <li><a href="#">Take Rent</a></li>
        <% } else if (user.role === 'customer') { %>
            <li><a href="#">Buy Product</a></li>
        <% } %>
        <li><a href="/update_password">Change Password</a></li>
        <li class="logout"><a href="/logout">Logout</a></li>
    </ul>
    <ul id="photo-options" style="display: none;">
        <li><a href="/dashboard/photo">Change Photo</a></li>
        <% if (user.photo) { %>
        <li><a href="/dashboard/rm-ph">Remove Photo</a></li>
        <% } %>
        <li class="logout"><a href="" onclick="getPhotoOption('block','none')">Back</a></li>
    </ul>
</aside>

<script>
    function getPhotoOption(profile, photo){
        const profile_option = document.getElementById("profile-options");
        profile_option.style.display = profile;
        const photo_option = document.getElementById("photo-options");
        photo_option.style.display = photo;
    }
</script>
