<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
    <div class="dashboard-container">
        <!-- Sidebar Navigation -->
        <%- include('layers/sidebar') %>

        <!-- Toggle Button -->
        <button class="toggle-sidebar" id="toggleSidebar">☰</button>

        <!-- Main Content Area -->
         <% if (board === 'home') { %>
            <%- include('layers/home') %>
        <% } else if (board == 'profile') { %>
            <%- include('layers/profile') %>
        <% } %>
    </div>

    <script>
        // JavaScript for Sidebar Toggle
        document.getElementById("toggleSidebar").addEventListener("click", () => {
            const sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("open");
        });
        // JavaScript for toggling the Edit Profile form
        document.getElementById("editProfile").addEventListener("click",() => {
            const form = document.getElementById("editProfileForm");
            form.style.display = form.style.display === "none" ? "block" : "none";
        });

        function validateEmail(email){
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }

        function checkEmail(event){
            const name = document.getElementById("name").value.trim();
            const email = document.getElementById("email").value.trim();
            const phone = document.getElementById("phone").value.trim();
            if(!validateEmail(email)){
                event.preventDefault();
                alert("Invalid Email")
                return false;
            } else if (!name){
                event.preventDefault();
                alert("Fill the Name");
                return false;
            } else if (!phone){
                event.preventDefault();
                alert("Fill the Phone Number");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>
